.container-fluid i{
    color: #00D084;
   
}

.dd:hover{
    color: #00D084 !important;
    
}

a{
    color: black !important;
}

.fn{
    font-size: 25px;
}
.btn1{
      border-radius: 40px !important;
      height: 40px;
      font-size: 20px !important;
      color: white !important;
      background-color: #00D084 !important;
      margin-top: 7px;
}
.btn:hover{
    color: #00D084 !important;
     background-color: black !important;
}
.st{
    font-size: 50px !important;
    color: #00D084 !important;
}

.ad:hover{
       background-color: #00D084 !important;
}
.my:hover{
    background-color: #00D084 !important;
}

.we h3{
    color: #00D084;
}

.we h1{
   
    font-size: 30px !important;
}

.btn1{
    color: #00D084 !important;
    background-color: white !important;
   border: 2px solid transparent !important;
}

.btn1:hover{
    color: white !important;
    background-color: #00D084 !important;
}

.btn2{
    color: white;
    background-color: #00D084;
    font-size: 20px;
    border-radius: 25px;
    width: 160px;
    height: 40px;
    border: 2px solid transparent;
    
}

.btn2:hover{
    background-color: black;
}

.h444 h4{
    font-size: 30px !important;
     display: flex;
     justify-content: center;
     flex-direction: row;
     gap: 15px;
}

.h444{
     
     margin-top: 30px;
}
.h444 i{
    height: 50px;
    width: 50px;
      text-align: center;
     align-items: center;
     display: flex;
     flex-direction: row;
     justify-content: center;
     border-radius: 30px;
}
.icn1{
    font-size: 20px;
 background-color: white ;
    color: #00D084 ;
 
    text-align: center;
     align-items: center;
     display: flex;
     flex-direction: row;
     justify-content: center;
}
.carousel-caption.we {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: white; /* Optional: white text over image */
  z-index: 10;
}
.icn1:hover{
    color: white;
    background-color: #00D084;
}

.btn3 i{
    font-size: 20px;
   
  
}

.btn3{
    border: 2px solid transparent;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #00D084;
    color: white;
}
.btn3:hover{
    background-color: lightgreen;
    color: #00D084;
}
.btn4 i{
    font-size: 20px;
   
  
}
.btn4{
    border: 2px solid transparent;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #00D084;
    color: white;
   
}
.btn4:hover{
    background-color: lightgreen;
    color: #00D084;
}

.pp{
    display: flex !important;
    flex-direction: row !important;
     justify-content: start !important;
    padding-right: 300px !important;
    gap: 20px;

}

.ww h3{
    color: #00D084;
}
.ww h1{
    font-size: 30px;
    
}
.carousel-caption.ww {
  right: 5%; /* move closer to the right */
  left: auto; /* remove default left */
  text-align: left; /* or right/center based on preference */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%; /* adjust width as needed */
  
  padding: 20px;
  border-radius: 10px;
  color: white;
}
@media (max-width: 768px) {
  .carousel-caption.ww {
    width: 90%;
    right: 5%;
    left: 5%;
    text-align: center;
  }
}
.btn5{
    color: #00D084!important;
    background-color: white !important;
   border: 2px solid transparent !important;
   border-radius: 30px !important;
    width: 160px;
    height: 40px;
  
}

.btn5:hover{
    color: white !important;
    background-color: #00D084 !important;
}

.btn6{
    color: white;
    background-color: #00D084;
    font-size: 20px;
    border-radius: 25px;
    width: 160px;
    height: 40px;
    border: 2px solid transparent;
    
}

.btn6:hover{
    background-color: black;
}
.h55 h4{
    font-size: 30px !important;
     display: flex;
     justify-content: center;
     flex-direction: row;
     gap: 15px;
}

.h55{
     
     margin-top: 30px;
}
.h55 i{
    height: 50px;
    width: 50px;
    
     display: flex;
     flex-direction: row;
     justify-content: center;
     border-radius: 30px;
}
.col2 h3{
    color: #00D084;
}
.col2 h1{
    font-size: 50px;
}

.col2{
    margin-top: 180px;
    padding-left: 150px;
}
.bb{
    border: 2px solid transparent;
    height: 50px;
    width: 150px;
    color: white;
    background-color: #00D084;
    border-radius: 30px;
   
}
.bb:hover{
    color: #00D084;
    background-color: black;
}

.dv i{
    font-size: 40px;
   color: #00D084;

}
.col3{
    display: flex;
gap: 50px;
    flex-direction: row;
    padding-left: 150px;
   margin-top: 30px;

}

.dv{
    gap: 20px;
    
}
.dv1 i{
    font-size: 40px;
   color: #00D084;

}
.dv3 i{
    font-size: 40px;
   color: #00D084;

}
.btn66{
    border: 2px solid transparent;
    height: 60px;
    width: 180px;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: #00D084;
}
.btn66:hover{
    color: #00D084;
    background-color: black;
}

.col4{
     display: flex;
gap: 200px;
    flex-direction: row;
    padding-left: 150px;
    margin-top: 30px;
   

}
.i23{
    background-color: lightgreen;
}

.bv{
    border: 2px solid transparent;

    margin-top: 70px;
    border-radius: 50px;
}
.co3 h3{
    font-size: 40px;
    color: #00D084;
    text-align: center;
}
.co3 h1{
    font-size: 60px;
    text-align: center;
}

.co3 p{
   text-align: center;
   font-size: 20px;
}

.co3{
    margin-top: 80px;
}
.hh{
    font-size: 30px !important;
}

.hh:hover{
    color: #00D084;
}
.hhh{
    margin-top: 30px !important;
}

.btn8{
    border: 2px solid  transparent !important;
   border-radius: 30px !important;
   font-size: 20px !important;
   width: 150px !important;
   color: white;
   background-color: #00D084;
   margin-bottom: 40px;
}
.cd{
    padding-left: 20px;
    margin-top: 30px;
   
}

.btn8:hover{
    color: #00D084;
    background-color: black;
    
}
.ll{
    background-color: whitesmoke !important;
}
.ll:hover{
    box-shadow: 0px 0px 5px;
}
.cc{
    margin-top: 100px !important;
   
    
}

.ccc{
    margin-top: 50px !important;
   
}
.n1{
    font-size: 30px;
}
.n1:hover{
   color: #00D084;
}
.n2{
    margin-top: 30px;
}

.btn9{
     border: 2px solid  transparent !important;
   border-radius: 30px !important;
   font-size: 20px !important;
   width: 150px !important;
   color: white;
   background-color: #00D084;
   margin-bottom: 40px;
}
.btn9:hover{
    color: #00D084;
    background-color: black;
    
}
.n{
    padding-left: 20px;
    margin-top: 30px;
}
.cr h3{
    color: #00D084;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
.cr h1{
    font-size: 60PX;
    text-align: center;
}
.cr p{
   text-align: center;
   margin-top: 30px;
   font-size: 20px;
}

.li i{
   
   
    font-size: 60px;
  padding-left: 150px;
  margin-top: 30px;
  
   
 
}
.li1 h5{
    font-size: 30px;
    margin-top: 20px;
}
.li1 p{
    font-size: 20px;
}

.btn10{
    border: 2px solid transparent;
    height: 40px;
    width: 150px;
    font-size: 20px;
    background-color: #00D084;
    color: white;
    border-radius: 30px;
    margin-bottom: 20px;
 
}
.btn10:hover{
    color: #00D084;
    background-color: black;
}
.d{
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

.li1{
   text-align: center;
}
.li2{
  margin-top: 50px;
  background-color: whitesmoke !important;
  
}
.li2:hover{
    border-color: #00D084;
    
}
.su h3{
    font-size: 40px;
    color:  #00D084 ;
    text-align: center;
}

.su h1{
    font-size: 60px;
    text-align: center;
}
.su p{
    font-size: 20px;
    text-align: center;
}
.db1{
    border: 2px solid transparent;
    height: 90px;
    width: 400px;
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    
}
.db1:hover{
    cursor: pointer;
    background-color: #00D084;
}
.db1 p{
    font-size: 20px;
    padding-left: 10px;
    margin-top: 20px;
}
.DB{
    border: 2px solid whitesmoke;
    height: 600px;
    width: 500px;
    background-color: whitesmoke;
    padding-left: 20px;
    border-radius: 20px;
    margin-top: 80px;
   
}
.db0{
    padding-left: 40px;
}
.db5 img{
    margin-top: 70px;
}
.db6 h1{
    font-size: 70px;
}
.db6 p{
    font-size: 20px;
}
.btn0{
    border: 2px solid transparent;
    height: 40px;
    width: 150px;
    font-size: 20px;
    background-color: #00D084;
    color: white;
    border-radius: 30px;
   margin-top: 20px;
 
}
.btn0:hover{
    color: #00D084;
    background-color: black;
}
.DB11{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.AD h3{
    font-size: 40px;
    color: #00D084;
    text-align: center;
}
.AD h1{
    font-size: 60px;
    text-align: center;
}
.AD p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.AD{
    margin-top: 70px;
}
.AA h3{
    font-size: 40px;
    color: #00D084;
    text-align: center;
}
.AA h1{
    font-size: 60px;
    text-align: center;
}
.AA p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.AA{
    margin-top: 100px;
}
.AQ1:hover{
    border-color: #00D084 !important;
    background-color: #00D084 !important;
}
.AQ1{
   
    border-color: black !important;
    color: black !important;
}
.AQ2{
    border: 2px solid transparent;
    height:500px !important;
    width: 650px !important;
  margin-top: 30px;
    background-color: whitesmoke;
    
}
.AQ3{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
   margin-top: 100px;
}
.h6 img{
    height: 400px;
    margin-top: 50px;
    border-radius: 30px;
}
.card1 h6 i{
    font-size: 30px !important;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    color: white;
    background-color: #00D084;
    
}
.card1 h6{
    
   display: flex !important;
   justify-content: space-around !important;
}
.MA{
    text-align: center !important;
}
.MA h4{
    color: gray;
}
.MA1 img{
    margin-top: 20px;
    border-radius: 100%;
    width: 250px !important;
   
}
.ma2{
    padding-left: 18px;
    align-items: center;

  
}

.MA2 i{
    color: black !important;
    padding-left: 20px;
    color: white !important;
    cursor: pointer;
}
.btn99 i{
    font-size: 25px;
   align-items: center;
   text-align: center;
   color: white !important; 
}
.btn99{
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    height: 80px;
    width: 240px;
    background-color:  #00D084 ;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.MA2 p{
    font-size: 20px;
    padding-left: 20px;
    color: grey;
}
.MA2 h1{
    color: white;
    cursor: pointer;
}

.btn991{
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    height: 80px;
     width: 200px;
    background-color: black;
    color:  white ;
    border-radius: 10px;
    font-size: 20px;
}
.btn991 i{
    font-size: 25px !important;
     
   color:  #00D084 !important; 
}
.ma2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.MAIN12{
    background-color: darkslategrey;
    height: 400px;
   display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.ma3 h1{
    color: white;
}
.ma4 ul{
    color: gray;
    cursor: pointer;
    font-size: 20px !important;

}
.ma4 ul li:hover{
     color: #00D084;
}
.i6{
    padding-right: 10px;
}
.ma5 h1{
    color: white;
}
.ma5 h2{
    font-size: 20px;
    color: white;
}
.ma5 i{
    padding-right: 20px !important;
}
.ma6 i{
    
    font-size: 30px;
    margin-top: 20px;
    color: white;
   background-color: #00D084;
    height: 40px;
    width: 40px;
    border-radius: 50px;
   align-items: center !important;
   text-align: center !important;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.ma6 i:hover{
    background-color: black;
}
.d7 h1{
    margin-bottom: 30px;
}